<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <script src='/socket.io/socket.io.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src='/javascripts/login.js'></script>
  </head>
  <body>
    <h1><strong>SNEP Client - Login</strong></h1>


    <div class="container">


      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Faça seu login</h2>
        <input type="ramal" class="form-control" placeholder="Ramal" required autofocus>
        <input type="agente" class="form-control" placeholder="Agente" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
      </form>


    </div> <!-- /container -->


  </body>
</html>
