<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src='/javascripts/clientside.js'></script>
  </head>
  <body>
    <h1><strong>SNEP Client CHAT</strong></h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">

          <div id="chat"><ul></ul></div>
          <div id="chat-text-box">
            <form role="form" id="form-enviar-mensagem">
              <div class="form-group">
                <input type="text" class="form-control" id="mensagem" placeholder="No que voce esta pensando?">
              </div>
              <button type="submit" class="btn btn-lg btn-success">Enviar</button>
            </form>
          </div>
         </div>

         <div class="col-xs-6 col-sm-4 col-md-4">
          <form role="form" id="form-alterar-nome">
            <div class="form-group">
              <label for="nome">Qual o seu Ramal ?</label>
              <input type="text" class="form-control" id="nome" placeholder="Digite o numero do seu ramal">
            </div>
            <button type="submit" class="btn btn-lg btn-success">Alterar</button>
          </form>

          <hr>
          <h2>SNEP Client v2</h2>
          <ul id="updates"></ul>
            </div>
        </div>
       </div>
      </div>

  </body>
</html>
