<html><body>

<title> SNEP Client v2 - ERROR </title>

<h1><font color="#FF0000">Algum problema ocorreu, grite por socorro !!!!</font></h1>

<h2><%= message %></h2>
<h3><%= error.status %></h3>
<pre><%= error.stack %></pre>
</html></body>
