<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src='/javascripts/clientside.js'></script>
  </head>
  <body>
    <h1><strong>SNEP Monitor - Status Panel</strong></h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">

          <h2>Filas</h2>
          <ul id="updates"></ul>
            </div>
        </div>
       </div>
      </div>

  </body>
</html>
