body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#chat {
  border: 1px solid #ccc;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
}
#chat ul li {
  border-bottom: 1px solid #ccc;
  padding-pottom: 5px;
  margin-bottom: 5px;
  list-style: none;
}
